@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para barras de desplazamiento */

::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
  }

  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 5px; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
    border: 2px solid transparent; 
    background-clip: padding-box; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }